#split{
    display: flex;
    /* border: 2px solid yellow; */
    justify-content: space-around;
}
#one{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 25%;
    padding-left: 10px;
}
#two{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 35%;
    padding-left: 10px;
}