#body{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}
#form{
    /* border: 2px solid green; */
    width: 35%;
    padding-left: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-bottom: 20px;
}
#amount{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* border: 2px solid pink; */
}
.ship{
    font-size: 23px;
}